.login-container {
  display: flex;
  flex-direction: column;
}

.login-form {
  padding: 25px;
  width: 500px;
  margin: 50px auto;
  box-shadow: 2px 4px 10px #888888;
}

.login-button {
  width: 80%;
  margin: 20px auto;
  display: block;
  font-size: 16px;
  padding: 10px;
  background: #1f3044;
  color: white;
  font-family: "Open Sans", sans-serif;
  border-radius: 20px;
  border: none;
}

.login-button:focus {
  background: white;
}

#root {
  min-height: 100vh;
}

label {
  font-size: 14px;
  color: #1f3044;
  margin-left: 25px;
}
