.login-container {
  display: flex;
  flex-direction: column;
}

.login-form {
  padding: 25px;
  margin: 50px auto;
  border: black solid 0.1rem;
  background: #ffca06;
  font-family: "Quicksand", sans-serif;
}

.login-title {
  margin-bottom: 4rem;
}

.login-button {
  width: 50%;
  font-size: 1.5rem;
  background: #06d6a0;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  color: black;
  display: block;
  text-align: center;
  margin: 0 auto 1rem auto;
  border-radius: 20rem;
}

.login-button:hover {
  background: #1fffc3;
  cursor: pointer;
}

.login-button:focus {
  background: white;
}

#root {
  min-height: 100vh;
}

label {
  font-size: 14px;
  color: #1f3044;
  margin-left: 25px;
}
