.home-details-container {
  margin: 2rem auto;
  padding: 1rem 2rem;
  background: #ffca06;
  font-family: "Quicksand", sans-serif;
}

.section-heading {
  text-align: center;
  display: block;
}

.emphasis-text {
  color: #1b998b;
  text-align: center;
}

.bold-title {
  font-weight: bold;
}
