.search-container {
  margin: auto;
  width: 90%;
}

.search-form {
  display: flex;
  flex-direction: column;
  width: 50rem;
  margin: 0 auto;
}

.search-title {
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
}
