.search-container {
  max-width: 500px;
  margin: auto;
}

.search-form {
  display: flex;
  flex-direction: row;
}

.search-button {
  background: #fb9039;
  padding: 0 10px;
  margin: 0 5px;
  width: auto;
}

.search-button:hover {
  background: #1f3044;
}
