.comment-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-input-field {
  height: 50px;
  border-radius: 10px;
  margin: 10px;
}

.user-icon {
  color: white;
  background: gray;
  border-radius: 50px;
  padding: 10px;
}
