.comment-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 75%;
  margin: 30px auto;
}

.comment-input-field {
  height: 50px;
  border-radius: 10px;
  margin: 10px;
}

.user-icon {
  color: white;
  background: gray;
  border-radius: 50px;
  padding: 10px;
}

.comments-list {
  margin: 20px auto;
  width: 75%;
}

.comment-author {
  color: rgb(43, 43, 185);
  font-weight: bold;
  margin: 10px;
}

.comment-item-container {
  background: #f7f7f7;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.delete-comment-icon {
  margin-left: auto;
  border: none;
  background: transparent;
}

.delete-comment-icon:focus {
  background: transparent;
}
