.comments-container {
  margin: 0;
}

.comment-section-title {
  font-family: "Quicksand", sans-serif;
}

.comment-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 75%;
  margin: 30px auto;
}

.comment-input-field {
  height: 50px;
  border-radius: 10px;
  margin: 10px;
  background: white;
}

.comment-input-label {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

.comment-submit-button {
  background: black;
  font-family: "Quicksand", sans-serif;
  border: none;
  padding: 0.5rem;
  color: white;
  border-radius: 0.2rem;
}

.comment-submit-button:hover {
  background: #ffca06;
}

.user-icon {
  background: black;
  color: white;
  border-radius: 50px;
  padding: 10px;
}

.comments-list {
  margin: 20px auto;
  width: 75%;
}

.comment-author {
  color: rgb(43, 43, 185);
  font-weight: bold;
  margin: 10px;
}

.comment-item-container {
  background: #f7f7f7;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.delete-comment-icon {
  margin-left: auto;
  border: none;
  background: transparent;
}

.delete-comment-icon:focus {
  background: transparent;
}
