.nav-bar {
  height: 50px;
  display: flex;
  align-items: center;
}

.nav-link {
  color: white;
  margin: 0 5px 0 auto;
  text-align: right;
  font-size: 18px;
  line-height: 50px;
  margin: 0px 15px;
}

.title {
  color: black;
  font-family: "Bungee Shade", cursive;
}
