.nav-bar {
  background-color: #1f3044;
  height: 50px;
  display: flex;
  align-items: center;
}

.nav-link {
  color: white;
  margin: 0 5px 0 auto;
  text-align: right;
  font-size: 18px;
  line-height: 50px;
  margin: 0px 15px;
}

.home-icon {
  margin-left: 5px;
  margin-right: auto;
  color: #fb9039;
}
